body {
    font-family: 'Times New Roman', Arial;
    background-color:lavenderblush;
}



h1 {
    color: orange;
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
}

img {
    height: auto;
    width: 400px;
    text-align: center;
}

h3 {
    font-size: x-large;
    font-weight: 800;
    color: crimson;
}

ul, ol, p {
    color:rgb(5, 59, 59);
}

/* index.html */

.Main-list, .item {
    font-size: large;
    color: red;
}