body {
    font-family: 'Times New Roman', Arial;
    background-color:lavenderblush;
}


/* index.html */
h1 {
    color: orange;
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
}

.Main-list, .item {
    font-size: large;
    color: red;
}